# Ignore everything in repository root 
/*

# Files to not ignore
!/.gitignore

# Folder to not ignore
!/raw
/raw/*
!/raw/scripts

!/raw/maps
/raw/maps/*
!/raw/maps/mp/
/raw/maps/mp/*
!/raw/maps/mp/bots/


*.zip
*.log
*.stat
logs/
demos/
images/
missingasset.csv
