# Ignore everything in repository root 
/*

# Files to not ignore
!/.gitignore

# Folder to not ignore
!/raw
/raw/*
!/raw/scripts

!/raw/maps
/raw/maps/*
!/raw/maps/mp/
/raw/maps/mp/*
!/raw/maps/mp/bots/
!/raw/bw_assets
!/raw/bots.txt

!/admin
/admin/*
!/admin/bot_test.cfg
!/admin/bot_test.dsr
!/admin/server.cfg

!/z_client_staging_client.bat
!/z_client_staging_local.bat
!/z_client_staging_server.bat
!/z_server_prod.bat
!/z_server_staging.bat
!/z_server_staging_bot_test.bat
!/z_client_prod_client.bat

!/README.md


*.zip
*.log
*.stat
logs/
demos/
images/
missingasset.csv
