# Ignore everything in repository root 
/*

# Files to not ignore
!/.gitignore

# Folder to not ignore
!/scripts

!/maps
/maps/*
!/maps/mp/
/maps/mp/*
!/maps/mp/bots/


*.zip
*.log
*.stat
logs/
demos/
images/
missingasset.csv
